@import url('../blocks/page.css');
@import url('../blocks/header.css');
@import url('../blocks/main.css');
@import url('../blocks/footer.css');
@import url('../blocks/gallery.css');
@import url('../blocks/popup.css');
@import url('../blocks/media.css');
